@import url('./navbar.css');
@import url('./secao01.css');
@import url('./secao02.css');
@import url('./secao03.css');
@import url('./secao04.css');
@import url('./secao05.css');
@import url('./cabecalho.css');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{

    --azul-escuro:hsl(243, 87%, 12%);
    --lilas:hsl(238, 22%, 44%);
    --azul:hsl(224, 93%, 58%);
    --verde-claro:hsl(170, 45%, 43%);
    --cinza-claro:hsl(240, 75%, 98%);
    --cinza:hsl(0, 0%, 75%);
    --branco:#fff;
    --fonte-principal:'Open Sans', sans-serif;
    --fonte-secundaria:'Raleway', sans-serif;

}

body{
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 400;
}
